%html
  %head
    %meta
  %body
    %h1 HAML test file
    #content
      .left.column
        %h2 Welcome to our site!
        %p#intro paragraph1
      .right.column
        %foo text 1
        %bar
          text 2
        %p#sideIntro.pside paragraph2
        %foo
          %bar
            text
        %peanutbutterjelly
          / This is the peanutbutterjelly element
          I like sandwiches!
      /
        %p This doesn't render...
        %div
          %h1 Because it's commented out!
      %p Haml comment is beneden.
        -# This is a comment
      %p Haml comment is boven.
%p
-#
  This won't be displayed
    Nor will this
                   Nor will this.
%p
        %foo
          text 1
        %bar
          text 2
        %
          bla bla just a div
        %img(src="/images/loading.gif")
        %blockquote#myQuote<
          %div
            Foo!
        %img
        %img>
        %img
      .main.column
        %p<= "Foo\nBar"
      .wspace.column
        %img
        %pre><
          foo
          bar
        %img